/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*---------------------------START STYLE HERE--------------------*/

body {font-family:TrebuchetMS;}

.SplashPage {
	background-color:#000;
	height:700px;
	width:100%;
}
.SplashPage h1 {
	position:relative;
	padding-top:100px;
	text-align:center;
	text-transform:uppercase;
	font-weight:bold;
	font-size:100px;
	color:#fff;
	
}
/*---------------------------------------------------------------*/
.TableOfContents {
	background-color:#222;
	height:700px;
}

.TableOfContents h3{
	position:absolute;
	padding-top:100px;
	padding-left:100px;
	text-transform:uppercase;
	font-weight:bold;
	font-size:50px;
	color:#eee;
}
.TableOfContents ol{
	color:#eee;
	font-size:20px;
	list-style-type: circle;
	position:relative;
	padding-top:80px;
	padding-left:500px;
}
.TableOfContents li{
	margin:20px;
}
/*---------------------------------------------------------------*/
.PageOne {
	background-color:#444;
	height:700px;
}
.PageOne h3 {
	position:absolute;
	padding-top:100px;
	padding-left:100px;
	text-transform:uppercase;
	font-weight:bold;
	font-size:50px;
	color:#ddd;
}
.PageOne p {
	color:#ddd;
	line-height: 125%;
	padding-top:100px;
	padding-left:700px;
	padding-right:200px;
}

.PageOne img{
	margin-left:50px;
}

/*---------------------------------------------------------------*/	
.PageTwo {
	background-color:#444;
	height:700px;
}
.PageTwo h3 {
	position:absolute;
	padding-top:100px;
	padding-left:100px;
	text-transform:uppercase;
	font-weight:bold;
	font-size:50px;
	color:#ccc;
}
.PageTwo p{
	color:#ccc;
	line-height: 125%;
	padding-top:100px;
	padding-left:700px;
	padding-right:200px;
}
.PageTwo img{
    width:50%;
}
/*---------------------------------------------------------------*/
.PageThree {
	background-color:#555;
	height:700px;
}
.PageThree h3 {
	position:absolute;
	padding-top:100px;
	padding-left:100px;
	text-transform:uppercase;
	font-weight:bold;
	font-size:50px;
	color:#bbb;
}

.PageThree p{
		color:#bbb;
		line-height: 125%;
		padding-top:100px;
		padding-left:700px;
		padding-right:200px;
}
.PageThree img{
    width:32%;
	margin-left:75px;
}
/*---------------------------------------------------------------*/
.PageFour {
	background-color:#888;
	height:700px;
}
.PageFour h3 {
	position:absolute;
	padding-top:100px;
	padding-left:100px;
	text-transform:uppercase;
	font-weight:bold;
	font-size:50px;
	color:#999;
}
.PageFour p{
	position:absolute;
		color:#999;
		line-height: 125%;
		padding-top:100px;
		padding-left:750px;
		padding-right:200px;
}
.PageFour img{
	padding-top:450px;
    width:50%;
	margin-left:75px;
}
/*---------------------------------------------------------------*/
.PageFive {
	background-color:#888;
	height:700px;
}
.PageFive h3 {
	position:absolute;
	padding-top:100px;
	padding-left:100px;
	text-transform:uppercase;
	font-weight:bold;
	font-size:50px;
	color:#999;
}
.PageFive ul{
		color:#999;
		line-height: 125%;
		list-style-type: circle;
		padding-top:100px;
		padding-left:700px;
		padding-right:200px;
}
/*---------------------------------------------------------------*/
.PageSix {
	background-color:#aaa;
	height:700px;
}
.PageSix h3 {
	position:absolute;
	padding-top:100px;
	padding-left:100px;
	text-transform:uppercase;
	font-weight:bold;
	font-size:50px;
	color:#777;
}
.PageSix p{
	position:absolute;
	color:#777;
	line-height: 125%;
	list-style-type: circle;
	padding-top:100px;
	padding-left:850px;
	padding-right:100px;
}
.PageSix img{
	padding-top:290px;
	margin-left:20px;	
}
/*---------------------------------------------------------------*/
.PageSeven {
	background-color:#bbb;
	height:700px;
}
.PageSeven h3 {
	position:absolute;
	padding-top:100px;
	padding-left:100px;
	text-transform:uppercase;
	font-weight:bold;
	font-size:50px;
	color:#666;
}
.PageSeven p{
	position:absolute;
	color:#666;
	line-height:125%;
	padding-top:100px;
	padding-left:700px;
	padding-right:200px;
}
.WhatYouSay {
	color:#666;
	line-height:125%;
	list-style-type: circle;
	padding-top:250px;
	padding-left:50px;
	padding-right:20px;
}

.Translation {
	color:#666;
	line-height:125%;
	list-style-type: circle;
	padding-top:50px;
	padding-left:50px;
	padding-right:20px;
}
/*---------------------------------------------------------------*/
.PageEight {
	background-color:#ccc;
	height:700px;
}
.PageEight h3 {
	position:absolute;
	text-decoration:line-through;
	padding-top:100px;
	padding-left:100px;
	text-transform:uppercase;
	font-weight:bold;
	font-size:50px;
	color:#555;
}
.PageEight p{
	position:absolute;
	color:#555;
	line-height:125%;
	padding-top:100px;
	padding-left:850px;
	padding-right:200px;
}

.PageEight h4{
	position:absolute;
	color:#555;
	padding-top:300px;
	padding-left:100px;
	text-transform:uppercase;
	font-weight:bold;
	font-size:200px;
}
/*---------------------------------------------------------------*/
.PageNine {
	background-color:#ddd;
	height:700px;
}
.PageNine h3 {
	position:absolute;
	padding-top:100px;
	padding-left:100px;
	text-transform:uppercase;
	font-weight:bold;
	font-size:50px;
	color:#444;
}
.PageNine p{
	position:absolute;
	color:#444;
	line-height:125%;
	padding-top:100px;
	padding-left:850px;
	padding-right:100px;
}

.PageNine img{
	padding-top:200px;
	padding-left:50px;
	width:60%;
}
/*---------------------------------------------------------------*/
.PageTen {
	background-color:#eee;
	height:700px;
}
.PageTen h3 {
	position:absolute;
	padding-top:100px;
	padding-left:100px;
	text-transform:uppercase;
	font-weight:bold;
	font-size:50px;
	color:#333;
}
.PageTen p{
	position:absolute;
	color:#333;
	line-height:125%;
	padding-top:300px;
	padding-left:750px;
	padding-right:150px;
}

.PageTen h4 {
	position:absolute;
	color:#333;
	padding-top:200px;
	padding-left:70px;
	text-transform:uppercase;
	font-weight:bold;
	font-size:450px;
}
/*---------------------------------------------------------------*/
.LastPage {
	background-color:#fff;;
	height:700px;
}
.LastPage h1 {
	position:relative;
	padding-top:100px;
	text-align:center;
	text-transform:uppercase;
	font-weight:bold;
	font-size:100px;
	color:#000;
}

footer{
	text-align:center;
}
/*---------------------------------------------------------------*/
















